body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
header {
  background-color: #000;
  height: 7rem;
  color: #fff;
}
.gray-box {
  text-align: center;
  background-color: #d4d4d4;
  margin-bottom: 1rem;
}
a.gray-hover:hover {
  background-color: #d4d4d4;
  color: #663399;
}
